.header {
  color: #514f52;
}

.university-information {
  padding: 2px;
  background-color: rgb(221, 221, 221);
  margin-right: 10px;
  margin-left: 10px;
}

.developer-information {
  display: flex;
  flex-direction: row;
}

.developer-information > div {
  flex: 1;
  padding: 10px;
  /* Adicione outros estilos conforme necessário */
} 

.stacks-section {
  display: flex;
  align-items: center;
  /* Adicione outros estilos conforme necessário */
}

.stacks-section > div {
  display: flex;
  align-items: center;
  /* Adicione outros estilos conforme necessário */
}

.stacks-section > div > svg {
  color: #484747;
  /* Adicione outros estilos conforme necessário */
}

.stacks-section > div > span {
  padding-left: 10px;
  /* Adicione outros estilos conforme necessário */
}


.social-media-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.github-section,
.linkedin-section {
  display: inline-block;
  vertical-align: top;
}
