.home {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  background-color: #fbf6f8;
  margin-right: 25px;
  margin-left: 25px;
}

.container_header {
  list-style-type: none;
  color: #ca0e95;
}

.container_image {
  justify-content: center;
}

.container_image img {
  margin: 10px;
  width: 240px;
  height: 250px;
  border-radius: 50%;
}

.container_text {
  color: #ca0e95;
  font-family: "Lucida Console";
  font-size: 18px;
  margin: 10px;
  text-align: center;
}

.container_button {
  color: #ff3c80;
  justify-content: center;
  flex-direction: row;
  display: flex;
  padding: 30px;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Lucida Console";
  font-size: 18px;
  margin: 4px 2px;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.eng {
  background-color: #fff0fa;
  color: #ca0e95;
  border: 2px solid #ca0e95;
}

.eng:hover {
  background-color: #faecf8;
  color: #a26786;
}

.ti {
  background-color: #fff0fa;
  color: #ca0e95;
  border: 2px solid #ca0e95;
}

.ti:hover {
  background-color: #faecf8;
  color: #a26786;
}